sudo: required
dist: trusty
addons:
apt:
  sources:
    - ubuntu-toolchain-r-test
    - google-chrome
  packages:
    - google-chrome-stable
    - lib32stdc++6
    - lib32z1
before_install:
  - nvm install node
  - nvm use node
  - npm install -g cordova@6.5.0 ionic@2.2.1
  - ionic state clear
before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
install: npm install
script:
  - npm run test-ci
after_success:
  - ./node_modules/.bin/codecov
