<ion-header>
  <ion-toolbar>
    <ion-title text-wrap>
      {{ org.name || 'Add' }}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button [disabled]="!selectedCalling" (click)="save()">
        <span ion-text color="primary">Save</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="selectedCalling">
    <ion-list>
      <ion-item text-wrap>
        {{ selectedCalling.name }}
        <ion-buttons end item-left>
          <button ion-button clear icon-only color="dark" (click)="removeCalling()">
            <ion-icon name="close-circle"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </ion-card>
	<ion-list>
    <button text-wrap ion-item *ngFor="let item of items" (click)="itemSelected(item)">
      {{ item.name }}
    </button>
	</ion-list>
</ion-content>
