<ion-header>
  <ion-navbar color="{{toolbarColor}}">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
    <ion-buttons end>
      <button ion-button [hidden]="reorderCallings" (click)="openFilter()">
        <ion-icon name="more"></ion-icon>
      </button>
      <button ion-button [hidden]="!reorderCallings" (click)="doneReordering()">
        Done
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-list *ngFor="let org of orgs">
    <ion-item-group class="dashboard-list">
      <ion-list-header sticky>
        {{org.name}}
        <button ion-button item-right (click)="addCalling(org)">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-list-header>
      <ion-item-group reorder="{{reorderCallings}}" (ionItemReorder)="reorderItems($event, org._id, org.callings)">
        <ion-item-sliding *ngFor="let calling of org.callings" #slidingItem>
          <ion-item text-wrap>
            <h2>{{calling.name}} <span *ngIf="calling.className">- {{calling.className}}</span></h2>
            <p *ngIf="calling.member"><i>{{calling.member.name.first + ' ' + calling.member.name.last}}</i></p>
            <p *ngIf="!calling.member"><i>vacant</i></p>
            <p *ngIf="calling.status" item-content class="calling_{{calling.status.id}}">{{calling.status.label}}</p>
          </ion-item>
          <ion-item-options>
            <button ion-button color="light" icon-left (click)="moreClick(calling, org, slidingItem)">
              <ion-icon name="ios-more"></ion-icon>
              More
            </button>
            <button ion-button color="danger" icon-left [hidden]="calling.member" (click)="removeCalling(org, calling)">
              <ion-icon name="trash"></ion-icon>
              Remove
            </button>
            <button ion-button color="primary" icon-left [hidden]="!calling.member || !calling.member.phone" (click)="contact(calling.member, 'sms', slidingItem)">
              <ion-icon name="text"></ion-icon>
              Text
            </button>
            <button ion-button color="secondary" icon-left [hidden]="!calling.member || !calling.member.phone" (click)="contact(calling.member, 'tel', slidingItem)">
              <ion-icon name="call"></ion-icon>
              Call
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item-group>
    </ion-item-group>
  </ion-list>
</ion-content>
