<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title || 'Dashboard'}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let org of orgs">
    <ion-list-header>
      {{org.name}}
    </ion-list-header>
    <ion-item-sliding *ngFor="let calling of org.callings | order-by: 'sortIndex'">
      <ion-item>
        {{calling.name}}
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <!-- <input type="file" (change)="uploadChange($event)"> -->
</ion-content>
